# Compose File Version
version: "3.6"

services:
  app:
    image: chrisbouchard/discord-fate-bot:latest
    environment:
      DFB_BOT_TOKEN_FILE: /run/secrets/token
      DFB_DATABASE_URL: postgresql://postgres@database/discord_fate_bot?passfile=/run/secrets/pgpass
      DFB_LOG_LEVEL: ${log.level}
    secrets:
      - source: discord-fate-bot-pgpass
        target: pgpass
        mode: 0400
      - source: discord-fate-bot-token
        target: token
        mode: 0400
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s

  database:
    image: postgres:12
    environment:
      POSTGRES_DB: discord_fate_bot
      POSTGRES_PASSWORD_FILE: /run/secrets/db-password
    secrets:
      - source: discord-fate-bot-db-password
        target: db-password
        mode: 0400
    volumes:
      - type: volume
        source: discord-fate-bot-db
        target: /var/lib/postgresql/data
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager

secrets:
  discord-fate-bot-db-password:
    external: true
  discord-fate-bot-pgpass:
    external: true
  discord-fate-bot-token:
    external: true

volumes:
  discord-fate-bot-db:
    external: true

